header {
  position: relative;
}

#rsvp-section {
  height: 100%;
  display: block;
}

#rsvp-section .container {
  min-width: 320px;
  max-width: 400px;
  padding: 0 20px;
}

#logo > svg {
  max-width: 120px;
  min-width: 120px;
  transition: all .2s ease-in-out;
}

fieldset {
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
  padding: 0;
}

fieldset > legend {
  padding: 0 20px;
  text-align: center;
}

.form {
  transition: all .2s ease;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0 20px 0;
}

.form-group input {
  padding: 10px 0;
  background: transparent;
  border: none;
  border-bottom: 2px solid #333;
  transition: all .2s ease;
}

.form-group input:not([type=checkbox]):focus {
  outline: none;
  border-bottom: 2px solid var(--primary-color);
}

.form-group.form-checkbox, .form-group.form-radio {
  flex-direction: row;
  align-items: center;
}

.form-group.form-checkbox:not(:first-child), .form-group.form-radio:not(:first-child) {
  margin-top: 5px;
}

.form-group input[type=checkbox], .form-group input[type=radio] {
  margin-right: 10px;
}

button:not([type=submit]) {
  margin: 2px 2px 5px 2px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 10px;
  background: transparent;
  transition: all .3s ease;
  border-radius: 5px;
  box-shadow: 0px 2px 3px #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 2px 2px 5px 2px;
  border: 1px solid #000;
  padding: 10px;
  color: #fff;
  background: var(--primary-color);
  transition: all .3s ease;
  border-radius: 5px;
  box-shadow: 0px 2px 3px #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

button[type="submit"]:hover {
  background: rgba(0, 103, 164, 0.8);
}

button:not([type="submit"]):hover {
  background: rgba(255,255,255,0.8);
}

button:focus {
  outline: 0;
}

textarea {
  padding: 10px;
}

#rsvp-form {
  overflow: hidden;
  padding-bottom: 20px;
}

#rsvp-form > div {
  overflow: hidden;
  transition: all .3s;
}

#rsvp-form[data-step="1"] #form-step-1 {
  transform: translateX(0);
}

#rsvp-form[data-step="1"] #form-step-2, #rsvp-form[data-step="1"] #form-step-3 {
  transform: translateX(100%);
  height: 0;
}

#rsvp-form[data-step="2"] #form-step-2 {
  transform: translateX(0);
  height: 100%;
}

#rsvp-form[data-step="2"] #form-step-1 {
  transform: translateX(-100%);
  height: 0;
}

#rsvp-form[data-step="2"] #form-step-3 {
  transform: translateX(100%);
  height: 0;
}

#rsvp-form[data-step="3"] #form-step-1 {
  transform: translateX(-100%);
  height: 0;
}

#rsvp-form[data-step="3"] #form-step-2 {
  transform: translateX(-100%);
  height: 0;
}

#rsvp-form[data-step="3"] #form-step-3 {
  transform: translateX(0);
  height: 100%;
}

#back-btn {
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  #rsvp-section .container {
    min-width: 350px;
  }  
}